@if (User.Identity.IsAuthenticated)
{
    <form method="post" class="navbar-form" asp-controller="Account" asp-action="Logout" asp-antiforgery="true">
        Hello: @User.Identity.Name
        <input type="submit" value="Logout" class="btn btn-primary" />
    </form>

}
else
{
    <a class="btn btn-primary" asp-controller="Account" asp-action="Register">Register</a>
    <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a>
}