<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <table class="table table-condensed">
        @for(int i =0; i < 10; i++)
    {
        <tr>
            @for(int j = 0; j < 5; j++)
            {
            <td>H1</td>

            }
        </tr>

    }
    </table>
</body>
</html>
