@model GeekCoding.Data.Models.ProblemContest

@{
    ViewData["Title"] = "DeleteProblemFromContest";
}

<h2>DeleteProblemFromContest</h2>

<h3>Are you sure you want to delete the problem <b> @Model.Problem?.ProblemName </b> from the contest?</h3>
<div>
    <h4>ProblemContest</h4>
    <hr />
     
    <form asp-action="DeleteProblemFromContest">
        <input type="hidden" asp-for="ProblemContestId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
