<div class="row">
    <a asp-action="GetProblem" asp-route-id="1">
        <div class="col-md-10 col-md-push-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        2. Minimum cost to travel around the world
                        <p class="pull-right">June 24, 2018</p>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="well well-sm">
                        <ul class="list-unstyled list-inline">
                            <li>
                                <span class="label label-default">
                                    <span class="glyphicon glyphicon-user">
                                    </span>
                                    by lucian
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>