<div class="alert alert-success">
    <p>Password was changed successfully! Please login using the new password</p>
</div>

<a class="btn btn-danger" asp-controller="Home" asp-action="Index">Go to home page</a>