<div class="alert alert-success">
    <p>An email with the instruction to reset your password was sent. Please check your email.</p>
</div>

<a class="btn btn-danger" asp-controller="Home" asp-action="Index">Go to home page</a>