<div class="alert alert-success">
    <p>Registration successfully. Please confirm your email address.</p>
</div>

<a class="btn btn-danger" asp-controller="Home" asp-action="Index">Go to home page</a>